html,
body {
  font-mono: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  line-height: 1.5em;
  color: #000;
  font-weight: 700;
  background: #fff;
}

body {
  line-height: 1.5em;
  color: #000;
  margin: auto 15em; 
}  

pre {
  padding: 10px;
  background: var(--code-background);
  color: var(--code-color);
  line-height: 1.5;
  border-radius: 10px;
  max-width: 100%;
  margin: 10px 0;
  overflow-x: auto;
}

img {
  margin: 15px 10em;
  border-radius: 10px;
  max-width: 70%;
}

ul {
  padding-left: 20px;
}

a, a:visited {
  color: #03a9f4;
  text-decoration: none;
}

/* 手机上要修改宽度 */
@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 10px 10px 50px;
  }
}
